

.favoriteItem {
    display: flex;
    margin: 5px;
    padding: 5px 10px;
    background-color: #ccc9c9;
    border: 4px solid #c2b205;
    flex-direction: column;
    flex-wrap: nowrap;
}

.delBtn {
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #ec3535;
    color: white;
    font-weight: bold;
    cursor: pointer;
}