
h1 {
    width: 100%
}

.fav-items{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 15px;
    padding: 5px;
}

.items {
    display: flex;
    justify-content: center;
    margin: 15px;
    padding: 5px;
    flex-wrap: wrap;
}